body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    margin-bottom: 0;
    color: blue;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    margin: auto;
}

.campo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo p {
    margin: 0;
    font-size: 13px;
    color: red;
}

.botoes {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.campo-invalido input {
    border: 1px solid red;
    color: red;
}

input,
select,
button {
    padding: 0.5rem;
    font-family: inherit;
}